<div class="main-container">
  <div class="title-container">
    <h1>Lista de usuarios</h1>
  </div>

  <div class="nav-container">
    <nav class="hero-nav">
      <a class="btn" href="/addUsers">Crear</a>
      <a class="btn" href="/searchUser/{{dni}}">Buscar</a>
      <form action="/searchUser/{{dni}}" method="get">
        <input name="dni" type="search" placeholder="Ingresar DNI de usuario" />
        <input type="submit">
      </form>
    </nav>
    <div class="title-descrp">
      <p>Nombre</p>
      <p>DNI</p>
      <p>Direccion</p>
      <p>Telefono</p>
      <p>Correo</p>
      <p>Acción</p>
    </div>
  </div>
  <main class="content-main">
    {{#each rows}}
      <div class="data-container">
        <p>{{nombre}} </p>
        <p>{{dni}}</p>
        <p>{{direccion}}</p>
        <p>{{telefono}}</p>
        <p>{{correo}}</p>
        <div class="action-btn-container">
          <a class="btn" href="/update/{{id}}">modify</a>
          <a class="btn" href="/delete/{{id}}">delete</a>
        </div>
      </div>
    {{/each}}
  </main>

  <script src="/javascript/control.js"></script>

</div>